{% extends "header.html" %}
{% block content %}
{% load static %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-2">
        </div>
    
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="{{icono}}"></i> Resultados del Alisamiento Exponecial con alfa: {{alfa}}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive ">
                         <table class=" table table-striped table-bordered table-hover dataTables-example" >
                            <thead class="text-center">
                                <tr>
                                    <th>No.</th>
                                    <th>Xn</th>
                                    <th>Estimación Alisada</th>
                                    <th>Error</th>
                                    <th>Error al cuadrado</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {%for i in m%}
                                <tr class="gradeX">
                                    <td>{{i.n}}</td>
                                    <td>{{i.Xn}}</td>
                                    <td>{{i.Sn}}</td>
                                    <td>{{i.err}}</td>
                                    <td>{{i.err2}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Gráfico</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"> <i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas id="prueba" height="140"></canvas>
                            </div>
                            
                        </div>
                    </div>
                </div>
        
    </div>
</div>

<br><br><br>
<div class="row">
    <div class="footer">
        <div class="pull-right">
            <strong>Facci ULEAM</strong>
        </div>
        <div>
            <strong>Copyright</strong> Vinces Zamora Adrian 8 "A" &copy; 2019
        </div>
    </div>
</div>
   

{% endblock %}
<script>
    {% block jquery%}
    //datatables
    $('.dataTables-example').DataTable({
                pageLength: 15,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });

        var data1 = []
        {%for m in lista1%}
            data1.push({"x":{{m.x}},"y":{{m.y}}})
        {%endfor%}

        var data2 = []
        {%for m in lista2%}
            data2.push({"x":{{m.x}},"y":{{m.y}}})
        {%endfor%}

        {%for m in pronos%}
            data2.push({"x":{{m.x}},"y":{{m.y}}})
        {%endfor%}
       // data2.push({{pronos}})
        //Java Script para el grafico
        var color = Chart.helpers.color;
            var scatterChartData = {
                datasets: [{
                    label: "Xn",
                    borderColor: "#0000FF",
                    backgroundColor: null,
                    data: data1
                }, {
                    label: "Estimación Alisada",
                    borderColor: "#FF0000",
                    backgroundColor: null,
                    data: data2
                }]
            };

        var pOptions = {
            responsive: true
        };
        


        var ctx10 = document.getElementById("prueba").getContext("2d");
        new Chart(ctx10, {type: 'scatter', data: scatterChartData, options:pOptions});
        {% endblock %}
</script>


<style>
tfoot {color:red;}
