<!DOCTYPE html>
<html>
<head>
{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tecnicas de Simulacion | Inicio</title>
    {% include 'base/css.html'%}

</head>

<body class="skin">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    
                    <li class="active">
                        <a href="#"><i class="fa fa-random"></i> <span class="nav-label">Escoja su método Deseado</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li ><a href="/metodoLineal"><i class="fa fa-line-chart"></i> Lineal</a></li>
                            <li><a href="/metodoAditivo"><i class="fa fa-plus"></i> Aditivo</a></li>
                            <li><a href="/metodoMultiplica"><i class="fa fa-times"></i> Multiplicativo</a></li>
                            <li><a href="/metodoRandom"><i class="fa fa-random"></i> Random</a></li>
                        </ul>
                    </li>
                    
                
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            
        </div>
        
        </nav>
        </div>
                {% block content %}
                {% endblock %}
        </div>
    </div>
    
    {% include 'base/js.html'%}
    <script>
        $(document).ready(function(){
            {% block jquery%}{% endblock %}
        });
    </script>
</body>
</html>
