{% extends "header.html" %}
{% block content %}
{% load static %}

<div class="wrapper wrapper-content animated fadeInRight">
    <form method="POST" action="">{% csrf_token %}
                    
    <div class="row">
        <div class="col-md-4"> 
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-random"></i> Lienea de Espera con Montecarlo</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">

                            <div class="col-sm-12">
                            <p>Para Empezar la simulacion genere los valores en la demanda, el retraso y los numeros aleatorios</p>
                                        <button class="btn btn-md btn-success " id="btn_enviar" type="submit"><strong>Calcular</strong></button>
                            </div>
                                
                    
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-random"></i> LLegada</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label>No. Eventos</label>
                                <input type="number" class="form-control" id="n_deman" value="5" required>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-sm btn-primary " id="btn_deman" type="button"><strong>Generar Campos</strong></div>
                            </div>
                                
                        </div>
         
                        
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins" id="demanda">
                <div class="ibox-title">
                    <h5><i class="fa fa-random"></i> Llegada</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>                
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-12">    
                                <div class="generaValor">
                                        <!-- Aui se generan los campos para ingresar los numero aleatorios de  llegada-->
                                </div>

                                <div class="generaPx">
                                        <!-- Aui se generan los campos para ingresar los numero aleatorios de servicio-->
                                </div>                               
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4"> 
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-random"></i> Servicio</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label>No. Eventos</label>
                                <input type="number" class="form-control" id="n_retra" value="6" required>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-sm btn-primary " id="btn_retra" type="button"><strong>Generar Campos</strong></div>
                            </div>
                                
                        </div>
         
                        
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins" id="retraso">
                <div class="ibox-title">
                    <h5><i class="fa fa-random"></i> Servicio</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>                
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-12">    
                                <div class="generaValor1">
                                        <!-- Aui se generan los campos para ingresar los numero aleatorios de  llegada-->
                                </div>

                                <div class="generaPx1">
                                        <!-- Aui se generan los campos para ingresar los numero aleatorios de servicio-->
                                </div>                               
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
        <div class="col-md-4"> 
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-random"></i> Numeros Aleatorios</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label>No. Eventos</label>
                                <input type="number" class="form-control" id="n_alea" value="10" required>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-sm btn-primary " id="btn_alea" type="button"><strong>Generar Campos</strong></div>
                            </div>
                                
                        </div>
         
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-6">
            <div class="ibox float-e-margins" id="numeros">
                <div class="ibox-title">
                    <h5><i class="fa fa-random"></i> Numeros Aleatorios</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>                
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-12">    
                                <div class="aleaDeman">
                                        <!-- Aui se generan los campos para ingresar los numero aleatorios de  llegada-->
                                </div>

                                <div class="aleaRetra">
                                        <!-- Aui se generan los campos para ingresar los numero aleatorios de servicio-->
                                </div>                               
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>



    </div>
    </form>
</div>
   <div id="myModal" class="modal fade " role="dialog">
              <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Números Aleatorios de LLegada</h4>
                  </div>
                  <div class="modal-body">
                    <iframe class="embed-responsive-item" id="formExterno1" name="formExterno1" src="/metodoLineal" height="500px" width="840"></iframe>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"  id="aleatoriaLlega"  >Seleccionar Datos</button>
                  </div>
                </div>

              </div>
            </div>

        <div id="myModal2" class="modal fade " role="dialog">
              <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Números Aleatorios de Servicio</h4>
                  </div>
                  <div class="modal-body">
                    <iframe class="embed-responsive-item" id="formExterno2" name="formExterno2" src="/metodoLineal" height="500px" width="840"></iframe>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"  id="aleatoriaSirve"  >Seleccionar Datos</button>
                  </div>
                </div>

              </div>
            </div>
<br><br><br>
<div class="row">
    <div class="footer">
        <div class="pull-right">
            <strong>Facci ULEAM </strong>
        </div>
        <div>
            <strong>Copyright</strong> Vinces Zamora Adrian 8 "A" &copy; 2019
        </div>
    </div>
</div>       
{% endblock %}
<script>
    {% block jquery%}
    $('#demanda').hide();
    $('#retraso').hide();
    $('#numeros').hide();

    var demanda = false;
    var retraso = false;
    var aleatorios = false;
    setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Para Empezar la simulacion genere los valores en la demanda, el retraso y los numeros aleatorios');

            }, 1300);

    var btn =document.getElementById('btn_enviar');
    //var num = $('#numeventos').val();
    
    function verificar(){
        if ((demanda)&&(retraso)&&(aleatorios)){
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Ahora puede empezar la simulacion pulsando el boton Calcular');

            }, 1300);
            btn.disabled = false;
        }
    }
    
    btn.disabled = true;
    //genera los campos para la demanda
    $('#btn_deman').click(function(){
        $('#demanda').show();
        var num = $('#n_deman').val();
        //alert(num);
        var l_valor = {{valor}};
        
        var valor = '<div class="form-group col-sm-6 text-center"">';
        valor+= '<input type="hidden" name="nDeman" value="'+num+'" >';

        valor+= '<label>Valor</label>';
        valor+= '<div class="generado">';
        if(num==l_valor.length){
            for(i=1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                valor += '<div class="col-lg-10"><input type="number" id="demValor'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="demValor'+i+'" class="form-control" value="'+l_valor[i-1]+'"></div>';
            
            }
        }else{
            //alert("mas de 6 numeros")
            for(i=+1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                valor += '<div class="col-lg-10"><input type="number" id="demValor'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="demValor'+i+'" class="form-control"></div>';
            }
        }
            valor += '</div>';
        valor += '</div>';


        var l_px = {{px}};
        
        var px = '<div class="form-group col-sm-6 text-center"">';
        px+= '<input type="hidden" name="n" value="'+num+'" >';

        px+= '<label>Px</label>';
        px+= '<div class="generado">';
        if(num==l_px.length){
            for(i=1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                px += '<div class="col-lg-10"><input type="number" id="demPx'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="demPx'+i+'" class="form-control" value="'+l_px[i-1]+'"></div>';
            
            }
        }else{
            //alert("mas de 6 numeros")
            for(i=+1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                px += '<div class="col-lg-10"><input type="number" id="demPx'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="demPx'+i+'" class="form-control"></div>';
            }
        }
            px += '</div>';
        px += '</div>';

        //alert(campos);
        $('.generaValor').html(valor);
        $('.generaPx').html(px);
        demanda=true;
        verificar();

    });
    //genera los campos para el retraso
    $('#btn_retra').click(function(){
        $('#retraso').show();
    
        var num = $('#n_retra').val();
        //alert(num);
        var l_valor = {{valor1}};
        
        var valor = '<div class="form-group col-sm-6 text-center"">';
        valor+= '<input type="hidden" name="nRetra" value="'+num+'" >';

        valor+= '<label>Valor</label>';
        valor+= '<div class="generado">';
        if(num==l_valor.length){
            for(i=1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                valor += '<div class="col-lg-10"><input type="number" id="retraValor'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="retraValor'+i+'" class="form-control" value="'+l_valor[i-1]+'"></div>';
            
            }
        }else{
            //alert("mas de 6 numeros")
            for(i=+1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                valor += '<div class="col-lg-10"><input type="number" id="retraValor'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="retraValor'+i+'" class="form-control"></div>';
            }
        }
            valor += '</div>';
        valor += '</div>';


        var l_px = {{px1}};
        
        var px = '<div class="form-group col-sm-6 text-center"">';
        px+= '<input type="hidden" name="nRetra" value="'+num+'" >';

        px+= '<label>Px</label>';
        px+= '<div class="generado">';
        if(num==l_px.length){
            for(i=1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                px += '<div class="col-lg-10"><input type="number" id="retraPx'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="retraPx'+i+'" class="form-control" value="'+l_px[i-1]+'"></div>';
            
            }
        }else{
            //alert("mas de 6 numeros")
            for(i=+1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                px += '<div class="col-lg-10"><input type="number" id="retraPx'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="retraPx'+i+'" class="form-control"></div>';
            }
        }
            px += '</div>';
        px += '</div>';

        //alert(campos);
        $('.generaValor1').html(valor);
        $('.generaPx1').html(px);
        retraso=true;
        verificar();

    });

    //genera los campos para los numeros aleatorios
    $('#btn_alea').click(function(){
        $('#numeros').show();
        var num = $('#n_alea').val();
        //alert(num);
        var llegada = {{deman}};
        
        var llega = '<div class="form-group col-sm-6">';
        llega+= '<input type="hidden" name="n" value="'+num+'" >';

        llega+= '<label>Datos Aleatorios de la Demanda (<a  data-toggle="modal" data-target="#myModal">click aqui para generar</a>)</label>';
        llega+= '<div class="generado">';
        if(num==llegada.length){
            for(i=1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                llega += '<div class="col-lg-10"><input type="number" id="llegada'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="llegada'+i+'" class="form-control" value="'+llegada[i-1]+'"></div>';
            
            }
        }else{
            for(i=+1;i<=num;i++){
                //llega += '<label class="col-sm-1">'+i+'</label>';
                llega += '<div class="col-lg-10"><input type="number" id="llegada'+i+'" placeholder="0.000" min="0" step="0.001" title="Tiempo LLegada" pattern="^\d+(?:\.\d{1,2})?$" required name="llegada'+i+'" class="form-control"></div>';
            }
        }
            llega += '</div>';
        llega += '</div>';


        var servicio = {{retra}};
        var servi = '<div class="form-group col-sm-6">';
        servi+= '<input type="hidden" name="n" value="'+num+'" required>';
        servi+= '<label>Datos Aleatorios del Retraso (<a  data-toggle="modal" data-target="#myModal2">click aqui para generar</a>)</label>';
        servi+= '<div class="generado">';

        if(num==servicio.length){
            for(i=+1;i<=num;i++){
                
                //servi += '<label class="col-sm-1">'+i+'</label>';
                servi += '<div class="col-lg-10"><input type="number" placeholder="0.000" min="0" step="0.001" title="Tiempo Servicio" pattern="^\d+(?:\.\d{1,2})?$" required id="servicio'+i+'" name="servicio'+i+'" class="form-control" value="'+servicio[i-1]+'"></div>';
            }
        }else{
            for(i=+1;i<=num;i++){
                //servi += '<label class="col-sm-1">'+i+'</label>';
                servi += '<div class="col-lg-10"><input type="number" placeholder="0.000" min="0" step="0.001" title="Tiempo Servicio" pattern="^\d+(?:\.\d{1,2})?$" required id="servicio'+i+'" name="servicio'+i+'" class="form-control" ></div>';
            }
        }
            servi += '</div>';
        servi += '</div>';


        //alert(campos);
        $('.aleaDeman').html(llega);
        $('.aleaRetra').html(servi);
        aleatorios=true;
        verificar();
        
    });

    $('#aleatoriaLlega').click(function(){
        //alert('capturando');
        

        var array = window.frames["formExterno1"].document.getElementById("holi").value.split(" ").map(function (item) {
            return parseFloat(item);
        });
        //porNombre=[0.339,0.431,0.241,0.304,0.132,0.071,0.913,0.941,0.698,0.657]
        $('#myModal').modal('hide');
        //alert(array);
        
        for(i=0;i<=array.length;i++){
            console.log(array[i]);
            $('#llegada'+i).val(array[i-1]);
        }
    });

    $('#aleatoriaSirve').click(function(){
        //alert('capturando');
        var array2 = window.frames["formExterno2"].document.getElementById("holi").value.split(" ").map(function (item) {
            return parseFloat(item);
        });
        //porNombre=[0.339,0.431,0.241,0.304,0.132,0.071,0.913,0.941,0.698,0.657]
        $('#myModal2').modal('hide');
        //alert(array);
        
        for(i=0;i<=array2.length;i++){
           //console.log(array[i]);
            $('#servicio'+i).val(array2[i-1]);
        }
    });


        {% endblock %}
</script>