{% extends "header.html" %}
{% block content %}
{% load static %}
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Docente</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" width="250" height="250" class="img-responsive" src="{% static 'admin/img/IngMoya.jpg' %}">
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>Ing.Jorge Moya</strong></h4>
                                <p><i class="fa fa-map-marker"></i> Manta - Manabí - Ecuador</p>
                                <h5>
                                    Acerca de
                                </h5>
                                <p>
                                    Docente de la Universidad Laica Eloy Alfaro de Manabí Facultad de Ciencias Informaticas (FACCI)
                                </p>
                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>169</strong> Posts</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>28</strong> Following</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                        <h5><strong>240</strong> Followers</h5>
                                    </div>
                                </div>
                                <div class="user-button">
                                    <div class="row">
                                            <div class="col-md-4">
                                                 <a class="btn btn-block btn-social btn-facebook" >
                                                <span class="fa fa-facebook"></span> Perfil
                                            </a>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <a class="btn btn-block btn-social btn-google" >
                                            <span class="fa fa-google"></span> Enviar Correo
                                        </a>
                                            </div>
                                            
                                        <div class="col-md-4">
                                                 <a class="btn btn-block btn-social btn-microsoft" >
                                            <span class="fa fa-windows"></span> Enviar Correo
                                        </a>
                                        
                                            </div>
                                       

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                    <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Estudiante </h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image"  class="img-responsive" src="{% static 'admin/img/adrian.jpeg' %}">
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>Vinces Zamora Adrian</strong></h4>
                                <p><i class="fa fa-map-marker"></i> Manta - Manabí - Ecuador</p>
                                <h5>
                                    Acerca de
                                </h5>
                                <p>
                                    Estudiante de la Universidad Laica Eloy Alfaro de Manabi, de la Facultad de Ciencias Informaticas del 8vo semestre paralelo "A"
                                </p>
                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>169</strong> Posts</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>28</strong> Following</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                        <h5><strong>240</strong> Followers</h5>
                                    </div>
                                </div>
                                <div class="user-button">
                                    <div class="row">
                                            <div class="col-md-4">
                                                 <a class="btn btn-block btn-social btn-facebook" >
                                                <span class="fa fa-facebook"></span> Perfil
                                            </a>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <a class="btn btn-block btn-social btn-google" >
                                            <span class="fa fa-google"></span> Enviar Correo
                                        </a>
                                            </div>
                                            
                                        <div class="col-md-4">
                                                 <a class="btn btn-block btn-social btn-microsoft" >
                                            <span class="fa fa-windows"></span> Enviar Correo
                                        </a>
                                        
                                            </div>
                                       

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>


<br><br><br>
<div class="row">
    <div class="footer">
        <div class="pull-right">
            <strong>Facci ULEAM</strong>
        </div>
        <div>
            <strong>Copyright</strong> Vinces Zamora Adrian 8 "A" &copy; 2019
        </div>
    </div>
</div>   
{% endblock %}