{% load static %}
<!-- Mainly scripts -->
    <script src="{% static 'admin/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'admin/js/plugins/jquery.slimscroll.min.js' %}"></script>

    <!-- Flot -->
    <script src="{% static 'admin/js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'admin/js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'admin/js/plugins/flot/jquery.flot.pie.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'admin/js/plugins/jquery.peity.min.js' %}"></script>
    <script src="{% static 'admin/js/demo/peity-demo.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'admin/js/inspinia.js' %}"></script>
    <script src="{% static 'admin/js/plugins/pace.min.js' %}"></script>

    
  


    <!-- Sparkline -->
    <script src="{% static 'admin/js/plugins/jquery.sparkline.min.js' %}"></script>

    <!-- Sparkline demo data  -->
    <script src="{% static 'admin/js/demo/sparkline-demo.js' %}"></script>

    <!-- ChartJS-->
    <script src="{% static 'admin/js/plugins/chartJs/Chart.min.js' %}"></script>
    
    <script src="{% static 'admin/js/plugins/c3.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/d3.min.js' %}"></script>
    <!-- Toastr -->
    <script src="{% static 'admin/js/plugins/toastr.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/datatables.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="{%static 'admin/js/plugins/iCheck/icheck.min.js'%}"></script>
    <script src="{%static 'admin/js/plugins/jquery.steps.min.js'%}"></script>
    <script src="{%static 'admin/js/plugins/jquery.validate.min.js'%}"></script>
    
